*{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif;}

.headerSection{
    width: 100%;
    height: auto;
}

.imgSection img{
    width: 15%;
    height: auto;
    float: left;
}