// *{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif;}


// .cardSection{
//     width: 50%;
//     height: auto;
//     margin-top: 70px;
//     position: relative;
//     left:200px
// }

   
// .imageSection img{
//     width: 70%;
//     height:auto;
//     margin-top: 50px;
// }

// .cardBtn{ 
//     padding: 8px 26px;
//     margin: 15px;
// }

// .userSection{
//     margin-top: 30px;
//     width:70%;
//     height:auto;
//     position: relative;
//     bottom: 330px;
//     left: 300px;

// }
// .userImage img{
//     width: 50%;
//     height: 50%;  
// }

// .userImage {
//     position: relative;
//     left: 210px;
// }

// .userInfo{
//     width: 40%;
//     position: relative;
//     left: 400px; 
// }





.home{
    display: flex;
}

.cardSection{
    border:2px solid #000 ;
    width: 200px;
}
 